* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html, body, .container {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.header {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex: 0 0 7.8125%;
}

.logo-and-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: auto;
  height: clamp(24px, 4vw, 40px); 
  max-width: 100%;
  display: block;
}

.header-title {
  color: #072D57;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: calc(14px + (24 - 16) * ((100vw - 375px) / (1440 - 375)));
}

.header-bottom {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  flex: 0 0 6.77%;
  border-top: 1.5px solid #DDE2E8;
  border-bottom: 1.5px solid #DDE2E8;
}

.header-bottom-text {
  color: #072D57;
  font-family: 'Ubuntu', sans-serif;
  font-size: calc(12px + (24 - 16) * ((100vw - 375px) / (1440 - 375)));
  line-height: var(--web-header-h5-16-medium-line-height, 20px);
  font-weight: bold;
}

.content {
  flex-grow: 1;
  background-color: #F0F4F7;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 2%; 
  padding-bottom: 2%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 100%));
  gap: clamp(12px, 1.5vw, 50px);
  width: 69.08%;
  margin: 0 auto;
  justify-content: center;
}
.card {
  background-color: white;
  height: 12vh; 
  min-height: 90px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0px;
  text-align: center;
  justify-content: center;
}

.card-button {
  width: 100%;
  padding: 15px 0;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #444444;
  text-align: center; /* Центрирует текст горизонтально */
  display: flex;        /* Нужно для вертикального центрирования */
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center;  /* Вертикальное центрирование */
  height: 100%;         /* Занимает всю высоту карточки */
}

/* Медиа-запрос для мобильных устройств */


.card:hover {
  background-color: #FF4746;
}

.card-button:hover {
  background-color: #FF4746;
  color: #FFFFFF;
  font-weight: 700;
}

  .exit-card-button {
      width: 100%;
      padding: 15px 0;
      font-family: "Montserrat-Regular", sans-serif;
      font-size: 24px;
      font-weight: 400;
      background-color: transparent;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      color: #444444;
      background-color: #F0F4F7;
      text-align: center; /* Центрирует текст горизонтально */
      display: flex;        /* Нужно для вертикального центрирования */
      justify-content: center; /* Горизонтальное центрирование */
      align-items: center;  /* Вертикальное центрирование */
      height: 100%;         /* Занимает всю высоту карточки */
  }

  .exit-card-button img {
    vertical-align: middle;

  }

.exit-card-button:hover {
  background-color: #FFFFFF;
  color: #444444;
  font-weight: 700;
}

.logo img, .card img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .card-button {
    font-size: 18px;
    padding: 12px 0;
  }
  
  .exit-card-button {
    font-size: 16px;
    padding: 12px 0;
  }
  
  .header-title {
    font-size: calc(12px + (18 - 12) * ((100vw - 375px) / (768 - 375)));
  }
  
  .header-bottom-text {
    font-size: calc(10px + (16 - 10) * ((100vw - 375px) / (768 - 375)));
  }
  .card img {
    max-width: 80%;
  }
}

/* Медиа-запрос для очень маленьких экранов */
@media (max-width: 480px) {
  .card-button {
    font-size: 16px;
    padding: 10px 0;
  }
  
  .exit-card-button {
    font-size: 16px;
    padding: 10px 0;
  }
  
  .header-title {
    font-size: 14px;
  }
  
  .header-bottom-text {
    font-size: 12px;
  }
  .card img {
    max-width: 70%;
  }
}
